name: maBoutique_app
description: "MaBoutique mobile application."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  shared_preferences: ^2.2.2
  provider: ^6.1.1
  font_awesome_flutter: ^10.6.0
  flutter_native_splash: ^2.3.5
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/

flutter_native_splash:
  color: "#FFFFFF"
  color_dark: "#121212"
  
  image: assets/images/splash_dark.png
  image_dark: assets/images/splash_white.png
  
  android: true
  ios: true
  web: false
  
  android_12:
    image: assets/images/splash_dark.png
    color: "#FFFFFF"
    image_dark: assets/images/splash_white.png
    color_dark: "#121212"